
.img{
    float:right;
    
}
.div{
    float:left;
    width:200px;
}
.h1{
    font-size: 45px;
}
.p{
    padding-right: 170px;
    font-size: 20px;
}

.card{
    border:1px solid blue
    border-style: double;
}
